:root {
  --clr-header: hsl(238, 29%, 16%);
  --clr-hover: hsl(14, 88%, 65%);
  --clr-bg: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  --clr-body-txt: hsl(237, 12%, 33%);
  --clr-body-subTxt: hsl(240, 6%, 50%);
  --clr-dividers: hsl(240, 5%, 91%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--clr-body-txt);
  background-image: var(--clr-bg);
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 0;
  margin: 1%;
}
/* General typography */
h2 {
  color: var(--clr-header);
  font-size: 2rem;
  text-align: center;
}

p {
  margin: 0;
}

/* Wrappers' styles */
.wrp {
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12em auto;
  width: 90%;
  padding: 8em 2em 4em;
  border-radius: 2em;
}

.wrp__img {
  position: absolute;
  width: 15rem;
  height: 15rem;
  top: 0;
  right: 50%;
  transform: translate(50%, -45%);
  background-image: url(images/illustration-woman-online-mobile.svg),
    url(images/bg-pattern-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
  background-position: top 0 right 0, top 105px right 0;
}

.wrp__text {
  width: 100%;
}

/* Accordion styles */
.accordion {
  width: 100%;
  overflow: hidden;
  background: white;
}

.accordion__label {
  padding: 1rem 0;
}

.accordion__label {
  display: block;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid var(--clr-dividers);
  transition: color 0.2s;
}

.accordion__label:hover {
  color: var(--clr-hover);
}

.accordion__label::after {
  content: "";
  position: absolute;
  color: var(--clr-body-txt);
  font-weight: 400;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1rem;
  height: 0.5rem;
  background-image: url(images/icon-arrow-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.4s;
}

.accordion__content {
  color: var(--clr-body-subTxt);
  line-height: 1.5;
  font-size: 0.75rem;
  padding: 0 3rem 1rem 0;
  display: none;
  transition: display 0.25s;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
  border-bottom: 1px solid var(--clr-dividers);
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

.accordion__input:checked ~ .accordion__label {
  color: var(--clr-header);
  font-weight: 700;
  border-bottom: none;
}

/* Media queries */
@media only screen and (min-width: 700px) {
  .wrp__img {
    width: 20rem;
    height: 20rem;
    top: 0;
    right: 50%;
    transform: translate(50%, -45%);
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    background-position: top 0 right 0, top 140px right 0;
  }
  h2 {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 990px) {
  .wrp {
    flex-direction: row;
    max-width: 60rem;
    align-items: flex-start;
    justify-content: right;
    overflow: hidden;
    padding: 7em 8em;
    z-index: 1;
  }
  .wrp__img {
    position: absolute;
    width: 29rem;
    height: 100%;
    top: 0;
    left: -7%;
    transform: translate(0, 0);
    background-image: url(images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 50% left 0;
    z-index: 3;
  }

  .wrp__img::after {
    content: "";
    position: absolute;
    width: 50rem;
    height: 50rem;
    top: -220px;
    left: -340px;
    transform: translate(0, 0);
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 0 left 0;
    z-index: 2;
  }

  .wrp__text {
    max-width: 22rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0.75em;
    text-align: left;
  }
}
